<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Contact the NI Direct template app</span>
    </summary>
    <div class="govuk-details__text">
        <ul class="govuk-list">
            <li>Telephone: <a href="tel:03001234567">0300 123 4567</a></li>
        </ul>
        <p class="govuk-body">
            <a class="govuk-link" href="https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers" target="blank" rel="nofollow">Find out about call charges</a>
        </p>
        <ul class="govuk-list">
            <li><a class="govuk-link" href="mailto:somemail@mail.com">somemail@mail.com</a></li>
            <li><a class="govuk-link" href="https://www.google.com" target="blank" rel="nofollow">Some website</a></li>
        </ul>
    </div>
</details>