<footer class="nidirect_footer d-print-none" role="contentinfo" data-html2canvas-ignore="true">
    <div class="govuk-width-container">
        <p class="govuk-body">
            <ul class="govuk-footer__inline-list">
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-link" asp-controller="Home" asp-action="Cookies">Cookies</a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-link" asp-controller="Home" asp-action="Accessibility">Accessibility statement</a>
                </li>
            </ul>
        </p>
    </div>
</footer>