@model nidirect_app_frontend.ViewModels.PointerViewModel

@{
    ViewData["Title"] = "Index";
}

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <partial name="../Components/_errorSummary.cshtml" />

            <h1 class="govuk-heading-l">
                What is your permanent address?
            </h1>

            <partial name="~/Views/Shared/_AddressLookup.cshtml" model="Model" />

                <div class="govuk-form-group">
                    <button type="submit" id="checkout-button" class="govuk-button" data-module="govuk-button">Save</button>
                </div>

                <div class="govuk-form-group">
                    <partial name="~/Views/Shared/_ContactUsForHelp.cshtml" />
                </div>

        </div>
    </div>
</main>
