@model nidirect_app_frontend.ViewModels.Document.DocumentViewModel
@{
    ViewData["Title"] = "Index";
}

<form method="post" asp-action="Index" asp-controller="Document">

    <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">
                    Upload photo
                </h1>

                <div class="govuk-form-group">
                    <label class="govuk-label" asp-for="FileUpload.FormFile">
                        Upload a photo
                    </label>

                    <span asp-validation-for="FileUpload.FormFile" class="govuk-error-message">
                    </span>

                    <input type="file" asp-for="FileUpload.FormFile" class="govuk-file-upload">

                    <input asp-page-handler="Upload" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="Upload" id="Upload" type="submit" value="Upload" />
                </div>

                <h2 class="govuk-heading-m margin-bottom-0">Uploaded photos</h2>

                <table class="govuk-table">
                    <caption class="govuk-table__caption sr-only">Table of uploaded documents</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">File name</th>
                            <th class="govuk-table__header" scope="col">Delete</th>
                            <th class="govuk-table__header" scope="col">Download</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Me.jpg</td>
                            <td class="govuk-table__cell">
                                <button class="govuk-button govuk-button--warning" type="submit" name="action" data-module="govuk-button" id="Delete">Delete</button>
                            </td>
                            <td class="govuk-table__cell">
                                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" name="downloadKey" id="Downloa">Download</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="govuk-form-group">
                    <partial name="~/Views/Shared/_ContactUsForHelp.cshtml" />
                </div>

                <div class="govuk-form-group">
                    <input type="submit" id="btnContinueSave" value="Save and continue" name="save" class="govuk-button" data-module="govuk-button" />
                </div>
            </div>
        </div>
    </main>
</form>